---
---

// config
//----------------------------------------------------
$color: #666666;
$hover: #377133;
$grey: #EAEAEA;
$grey_dark: #313538;

@mixin round($radius: 13px){
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}
@mixin round-left($radius: 13px){
    -moz-border-radius-bottomleft: $radius;
    -moz-border-radius-topleft: $radius;
    -webkit-border-bottom-left-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
}
@mixin round-top($radius: 13px){
    -moz-border-radius-topright: $radius;
    -moz-border-radius-topleft: $radius;
    -webkit-border-top-right-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}



// elements, page structure
body { text-align: center; background: url(../images/background.gif);  color: $color; font-family:"Inconsolata", serif; }
html, body { height: 100%; }
h1, h2, h3 { font-family:"IM Fell Great Primer", serif; font-weight: normal;  }
#container { position: relative; width: 980px; margin: auto; text-align: left; min-height: 100%;
  #container-inner { padding-bottom: 70px; }
}
header.main { padding: 30px 0 20px 60px;
    h1 { position: relative;
        span { position: absolute; top: 24px; left: -70px; font-size: 2em; }
    }
}

footer { height: 50px; margin-top: -52px; clear: both; text-align: center;
    position:relative; z-index: 10; background: url(../images/background-dark.png);
    #footer-inner { margin: auto; width: 980px; text-align: left;
        .icon { margin-top: 10px; }
        a { font-size: 1.2em; color: white;  text-decoration: none;
            &:hover { text-decoration: underline; }
        }
        p { padding: 0px 0 0 50px; line-height: 50px; }
        #link-to-all { float: right; font-weight:bold; margin-right: 200px; }
    }
}

aside {  position: absolute; top: 160px; right: 0; width: 160px;
    nav { padding: 10px; width:160px; @include round;
        h2 { font-size: 1.5em; font-weight: bold; }
        ul { margin-left: 20px;
            li { list-style-type: disc; font-size: 1.2em; }
        }
        &.fixed { position: fixed; top: 10px; }
    }
}



// content, article
section { width: 780px;
    article { background: white; padding: 20px 20px 40px 20px; margin: 10px 0px 10px 50px; position: relative; @include round;
	#content { overflow:hidden; }
        h1 { font-size: 2.1em; margin-bottom: 15px; 
	       a { color: $color!important; text-decoration: none; 
		  &:hover { color: $hover; text-decoration: underline; }
	       }	
        
	   }
       h2 { font-size: 1.7em; }
        p { font-size: 1.2em; padding-bottom: 15px; line-height: 150%; }
        time { background: white; padding: 5px 10px 5px 10px; text-align: center; display: block;
            position: absolute; top: 17px; left: -65px;  @include round-left;
            span { display: block; text-align: center; width: 55px;
                &.day { font-size: 2em; }
            }
        }
        figure { text-align: center; margin: 20px 0 ; }
        .authors { background: white; padding: 10px; display: block;  position: absolute; top: -42px; right: 20px; @include round-top; }
        #disqus_thread { display: none; margin: 20px 0; }
        #disqus-button { position: absolute; bottom: -2px; right: 20px; }
        &.listing {
            time { top: 15px; }
            .authors { margin-top: 5px;
                position: static; float: left; padding: 0 10px;
            }
            h2 { font-size: 1.4em;
                a { color: $color; text-decoration: none;
                    &:hover { text-decoration: underline; }
                }
            }
        }
        .partial-post {
           float: left; width: 325px; margin: 0px 10px 20px 10px; padding-bottom: 25px; 
        }
        #part-honza { background: url(/images/honza.png) no-repeat bottom right; }
        #part-fafa { background: url(/images/fafa.png) no-repeat bottom right; }
        blockquote { margin: 10px 40px 10px 40px; padding:0 15px; border-left: 3px solid #ccc; border-right: 3px solid #ccc;
            p { padding-bottom: 0; text-align: center; font-style: italic; }
        }
        .illustration {
            float: right;
            padding: 15px;
        }
    }
}



// general
a.button { background: $grey; font-weight: bold; color: $color; padding: 4px 10px; text-decoration: none; @include round(5px); }
.icon { line-height:24px; background-position:top left; width: 32px; height:32px; overflow: hidden;
       float:left; display:block; text-indent: 32px; margin:0 3px; background-repeat :no-repeat!important; }
.text-icon { text-decoration: none; padding:10px; padding-left:20px;
    background-position:center left!important; background-repeat:no-repeat!important;
    &:hover { text-decoration: underline; }
}
.icon-rss { background-image:url(../images/icon-rss.png);  }
.icon-twitter { background-image:url(../images/icon-twitter.png); }
.icon-facebook { background-image:url(../images/icon-facebook.png); }
.icon-youtube { background-image:url(../images/icon-youtube.png); }
